.hidden{
	display: none;
}
@media screen and (max-width: 1280px) {

	#imgLogo {
		display: none;
	}
	#imgWelcome{
		width: 200px !important;
	}
	#textoBienvenida{
		margin-top:30px !important;
	}
}

#textoBienvenida{
	margin-top:50px;
}

.changeLang {
	cursor: pointer;
	font-size: 0.6em;
	color: rgba(255, 255, 255, 0.35);
	font-family: 'Gotham Rounded', sans-serif;
}

.changeLang:hover {
	color: white;
	text-decoration: underline;
}

.tituloMarca{
	margin-bottom: 0;
	font-family: 'Roboto Slab';
	font-weight: 400;
    font-size: 54px;
    line-height: 58px;	
}

#imgWelcome{
	width: 23%;
}

#imgLogo{
	display: block;
    margin-left: auto;
    margin-right: auto;
    width: 60%;
}

.hrWelcome{
    background: linear-gradient(to right, #41E9CD, #58EB46);
    height: 2px;
}

.selectLang{
	margin-top: 20%;
}
